#images6{ 
     width: 90%;
}

imagem05{ 
    width: 40%;
}
imagem06{ 
    width: 40%;
}

#racismo3{ 
    width:  80%;
}
p {
text-align: justify;
color: rgb(37, 30, 31);
}
h1 {
    color: rgb(247, 192, 192);
}